.shareButtonRoot {
    width: 86px;
    height: 32px;
    border-radius: 4px;
    background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #bd0f0f 33.63%, #c92a2a 70.31%, #f75c5c 100%);
    padding: 5px 12px;
    margin-right: 20px;
  }
  
  .shareButtonRoot:hover {
    background: linear-gradient(135deg, #bd0f0f 0%, #c0180c 51.04%, #a02323 100%);
  }
  
  .shareButtonRoot span {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .shareButtonRoot i, .shareButtonRoot:hover i {
    color: #FFFFFF !important;
  }
  
  .historyButtonRoot {
    width: 180px;
    border: 1px solid #D1D1D1;
  }

  .historyButtonRoot:hover {
    border: 1px solid #D1D1D1;
  }

  .historyButtonRoot:active {
    border: 1px solid #D1D1D1;
  }

  @media (max-width: 480px) {
    .shareButtonRoot {
      width: auto; 
      padding: 5px 8px; 
    }

    .historyButtonRoot {
      width: auto;
      padding: 0 8px  
    }
  }